/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

.d-none {
	display: none;
}

.container-box {
	position: relative;
	max-width: 800px;
	width: 100%;
	height: 100%;
	padding: 15px;
	padding-bottom: 150px;
	/* border: solid #eee 1px; */
}

@media (max-width: 1020.98px) {
	.container-box {
		margin: 0 auto;
	}
}
